# Variables available to sub-makefiles #

## Path to Adobe AIR sdk ##
AIR-SDK = </absolute/path/to/air_sdk_directory>

## Adobe AIR version ##
AIR-VERSION = <X.X>

## Application version ##
APP-VERSION = 0.0.2

## Application id ##
APP-ID = <com.application.id>

## Application name ##
APP-NAME = SessionmAirExample

## iOS SessionM application id ##
IOS-APP-ID = <ios_app_id_from_developer_portal>

## Android SessionM application id ##
ANDROID-APP-ID = <android_app_id_from_developer_portal>

## iOS keystore certificate ##
IOS-CERTIFICATE = </absolute/path/to/certificate.p12>

## Android keystore certificate (default androidCert.pfx has password 'p') ##
ANDROID-CERTIFICATE = ../androidCert.pfx

## iOS Developer provisioning profile ## 
PROVISION = </absolute/path/to/profile.mobileprovision>

## Path to android sdk ##
ANDROID-SDK = </absolute/path/to/android_sdk_directory>

## Path to SessionM iOS sdk ##
IOS-SDK = </absolute/path/to/SessionM_iOS_vX.X.X_Release/SessionM-SDK>

## SessionM iOS sdk version ##
IOS-SDK-VERSION = <X.X.X>

## Path to SessionM android sdk ##
SESSIONM-ANDROID-SDK = </absolute/path/to/SessioM_android_vX.X.X>

## Path to Java JDK 7 Commands ##
JAVA-COMMANDS = </absolute/path/to/java_jdk_7_directory/Commands>
