<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">

    <!-- Very important : the name of the folder when the created archive is unpacked -->
    <formats>
        <format>dir</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <baseDirectory></baseDirectory>
    <!-- Produces an output of the form :
        sessionm/target/
        |~~ extension.xml
        |~~ sessionm
        |   |~~ android
        |   |   |~~ library.swf
        |   |   `~~ sessionm-android.jar
        |   |~~ default
        |   |   `~~ library.swf
        |   `~~ sessionm-actionscript.swc
        `~~ sessionm-1.0-SNAPSHOT.ane
    -->
    <!-- Prepare files for ANE packaging (SWC and JAR are project dependencies) -->
    <dependencySets>
        <!-- Android: Copies the JAR file into /sessionm/android/ -->
        <dependencySet>
            <outputDirectory>android</outputDirectory>
            <includes>
                <include>*:sessionm-android</include>
            </includes>
            <outputFileNameMapping>${artifact.artifactId}.jar</outputFileNameMapping>
        </dependencySet>
        <!-- iOS: Copies the native archive files in session/ios/ -->
        <dependencySet>
            <outputDirectory>ios</outputDirectory>
            <includes>
                <include>*:sessionm-ios</include>
                <include>com.sessionm:ios-sdk</include>
            </includes>
            <outputFileNameMapping>${artifact.artifactId}.a</outputFileNameMapping>
        </dependencySet>
        <!-- AS3: Copies the native archive files in session/ios/ -->
        <dependencySet>
            <outputDirectory>default</outputDirectory>
            <includes>
                <include>*:sessionm-actionscript</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>
